
header {
	.menu-hamburger {
		display: none;
		position: absolute;
		top: 6px;
		left: -3px;
		width: 70px;
		height: 68px;
		background: transparent;
		padding: 33px 24px;
		outline: none;
		cursor: pointer;
		z-index: 11;

		@media (max-width: 959px) {
			display: block;
		}

		span {
			display: block;
			position: absolute;
			width: 22px;
			height: 2px;
			background: $color-1;
			border-radius: 6px;
			z-index: 9999;

			&:before {
				content:'';
				position: absolute;
				top: -7px;
				left: 0;
				width: 100%;
				height: 2px;
				background: $color-1;
				border-radius: 6px;
			}

			&:after {
				content:'';
				position: absolute;
				top: 7px;
				right: 0;
				width: 100%;
				height: 2px;
				background: $color-1;
				border-radius: 6px;

			    @include transition(top 0.2s 0.2s ease-in-out, width 1s 1s ease-in-out, transform 0.2s ease-in-out, background $duration-1 $easeOutExpo);
			}
		}

		span,span:after,span:before {
			content:'';

		    @include transition(top 0.2s 0.2s ease-in-out, transform 0.2s ease-in-out, background $duration-2 $easeOutExpo);
		    @include transform(rotate(0deg));
		}
	}
}


body.active-header_js {

	.menu-hamburger {

		span {
			background: transparent !important;
		    @include transition(all 0.2s ease-out);

		    @media (max-width: 959px) {
				background: $color-1;
			}

		    &:before,&:after {
				content:'';
				top: 0;

				@include transition(top 0.2s ease-in-out, transform 0.2s 0.2s ease-in-out);

				@media (max-width: 959px) {
					background: $color-1;
				}
			}

			&:before {
				content:'';

			    @include transform(rotate(45deg));
			}

			&:after {
				content:'';
				width: 100%;

			    @include transition(top 0.2s ease-in-out, width 0.2s 0.2s ease-in-out, transform 0.2s 0.2s ease-in-out);
			    @include transform(rotate(-45deg));
			}
		}
	}
}
