// MAX WIDTH
$maxWidth : 1440px;
$maxWidth-2 : 1206px;

// FONT TYPE 
$AvenirRoman	: 'AvenirRoman', sans-serif;
$AvenirMedium	: 'AvenirMedium', sans-serif;

// FONT SIZE
$fontSize-0 : 30px;
$fontSize-1 : 25px;
$fontSize-2 : 20px;
$fontSize-3 : 15px;
$fontSize-4 : 10px;

// COLORS
$transparent : transparent;
$color-0 : #ffffff;
$color-1 : #000000;
$color-2 : #4A4A4A;
$color-3 : #7CCCBF;
$color-4 : #00AEEF;
$color-5 : #545454;
$color-6 : #F1F0F0;
$color-7 : #979797;
$color-8 : #D8D8D8;
$color-9 : #5E5E5E;
$color-10 : #223E77;
$color-11 : #FAF9F9;
$color-12 : #757575;


// MEDIA QUERY
$brDesktop		: 1280px;
$brTablet      	: 991px;
$brMobile      	: 768px;
$brMobileSmall 	: 480px;

// EASING
$easeOutExpo : cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo : cubic-bezier(1, 0, 0, 1);
$easeInOutCubic : cubic-bezier(0.645, 0.045, 0.355, 1);

// EASING DURATION

$duration-0 : 0.4s;
$duration-1 : 0.6s;
$duration-2 : 0.8s;


