* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	scroll-behavior: smooth;
}

a, a:active, a:focus,button,button:focus,input,input:focus {
	outline: none !important;
}

.hiding {
	filter: alpha(opacity=0);
  	opacity: 0;
}

.visible {
	opacity: 1;
}

.hide-section {
	display: none;
}

.show-mbl {
	display: none;

	@media (max-width: $brMobile) {
		display: block !important;
	}
}

.show-dktp {
	display: block;

	@media (max-width: $brMobile) {
		display: none !important;
	}
}

.no-scroll_js {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.container-max {
	width: 100%; 
	max-width: $maxWidth; 
	margin: 0 auto;
	padding: 0 35px;

	@media (max-width: $brTablet) {
		padding: 0 18px;
	}
}

#preloader {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 999;
	overflow: hidden;
	opacity: 1;

	@include transition( opacity $duration-2 $easeOutExpo, visibility $duration-2 $easeOutExpo );

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $color-6;
		opacity: 1;
	}

	.preloader-wrap {
		position: absolute;
		top: 40%;
		left: 50%;
		width: 170px;

		@include transform( translate3d(-50%,-50%,0) );

		.logo {
			position: relative;
			z-index: 2
		}

		.loader {
			position: absolute;
			bottom: 25px;
			right: -2px;
		    width: 30px;
		}
	}
}